/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-center .slick-img {
  transform: scale(1.3); 
  transition : transform 0.3s ease-in-out;
  object-fit: contain; 
  height: auto; 
}


/* Your custom styles */
/* features  */
@keyframes scrollRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

.feature-list {
    display: flex;
    gap: 14px;
    animation: scrollRightToLeft 50s linear infinite;
    width: max-content;
}

/* Hide scrollbar but allow scrolling */
html, body {
  overflow: auto;  /* Allows scrolling */
  scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

/* healthplan section */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move only by half so it loops perfectly */
  }
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.anim-scroll {
  display: flex;
  animation: scroll-left 20s linear infinite;
  width: max-content; /* Ensures no spacing issues */
}

.scroll-wrapper img {
  width: 120px;
  height: auto;
  object-fit: contain;
}


/* testimonials */
.testimonials-container {
  overflow-x: auto; /* Keep for scrolling functionality */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.testimonials-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


/* faq */
.faq-question:hover {
  text-decoration: underline;
}

/* Mobile View */
@media (max-width: 767px) {
  .faq-question {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-foreground-light {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* / testimonials / */

.testimonials-slider .slick-track {
  display: flex !important;
}

.testimonials-slider .slick-slide {
  height: inherit !important;
  display: flex !important;
}

.testimonials-slider .slick-slide > div {
  width: 100%;
  display: flex;
}

@media (max-width: 640px) {
  .testimonials-slider .slick-slide {
      padding: 0 10px;
  }
}